<div class="card mx-2 w-75">
  <form #userForm="ngForm" (ngSubmit)="userForm">
    <div class="row py-2">
      <div class="col-4">
        <div class="form-group">
          <label for="codicefiscaletxt">Fiscal Code</label>
          <input
            required
            minlength="16"
            maxlength="16"
            [(ngModel)]="currentUser.codiceFiscale"
            name="codiceFiscale"
            #codicefiscaleinput="ngModel"
            type="text"
            class="form-control"
            [ngClass]="{'is-invalid': codicefiscaleinput.errors && codicefiscaleinput.enabled}"
            id="codicefiscaletxt">
          <div class="invalid-feedback" [hidden]="codicefiscaleinput.hasError('minlength')">
            Please insert a fiscal code.
          </div>
          <div class="invalid-feedback" [hidden]="codicefiscaleinput.hasError('required')">
            Please insert a valid fiscale code (=16 chars).
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="firstnametxt">First Name</label>
          <input
            required
            minlength="2"
            [(ngModel)]="currentUser.firstname"
            name="firstname"
            #firstnameinput="ngModel"
            type="text"
            class="form-control"
            [ngClass]="{'is-invalid': firstnameinput.errors && firstnameinput.enabled}"
            id="firstnametxt">
          <div class="invalid-feedback" [hidden]="firstnameinput.hasError('minlength')">
            Please insert a first name.
          </div>
          <div class="invalid-feedback" [hidden]="firstnameinput.hasError('required')">
            Please insert a valid first name (>=2 chars).
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="lastnametxt">Last Name</label>
          <input
            required
            #lastnameinput="ngModel"
            [(ngModel)]="currentUser.lastname"
            name="lastname"
            type="text"
            class="form-control"
            [ngClass]="{'is-invalid': lastnameinput.errors && lastnameinput.enabled}"
            id="lastnametxt">
          <div class="invalid-feedback" [hidden]="lastnameinput.hasError('minlength')">
            Please insert a last name.
          </div>
        </div>
      </div>
    </div>

    <div class="row py-2">
      <div class="col-4">
        <div class="form-group">
          <label for="agetxt">Age</label>
          <input
            [(ngModel)]="currentUser.age"
            name="age"
            type="number"
            class="form-control"
            id="agetxt">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="emailtxt">Email</label>
          <input
            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
            #emailinput="ngModel"
            [(ngModel)]="currentUser.email"
            name="email"
            type="email"
            class="form-control"
            [ngClass]="{'is-invalid': emailinput.errors}"
            id="emailtxt">
          <div class="invalid-feedback" [hidden]="emailinput.hasError('minlength')">
            Please enter a valid email
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="birthdatetxt">Birthdate</label>
          <input
            [(ngModel)]="currentUser.birthdate"
            name="birthdate"
            type="date"
            class="form-control"
            id="birthdatetxt">
        </div>
      </div>
    </div>

    <div *ngFor="let address of currentUser.address; let i = index;" [id]="'address-' + i">
      <div class="col-9">
        <fieldset ngModelGroup="address">
          <legend>Address Information {{i + 1}}</legend>
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label [for]="'street-text-' + i">Street</label>
                <input
                  [(ngModel)]="address.street"
                  [ngModelOptions]="{'standalone': true}"
                  type="text"
                  class="form-control"
                  [id]="'street-text-' + i">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label [for]="'city-text-' + i">City</label>
                <input
                  [(ngModel)]="address.city"
                  [ngModelOptions]="{'standalone': true}"
                  type="text"
                  class="form-control"
                  [id]="'city-text-' + i">
              </div>
            </div>
            <div *ngIf="address.street != null || address.city != null" class="col-1 mt-4">
              <div class="rounded-button" (click)="removeElementToAddressList(i)">-</div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row py-2">
      <div class="col-12">
        <a href="javascript:void(0)" (click)="addEmptyElementToAddressList()">Aggiundi indirizzo</a>
      </div>
    </div>

    <button *ngIf="!canEditUser" [disabled]="!userForm.valid"
            (click)="onSubmitUser(userForm);"
            type="submit" class="btn btn-primary mt-3">Add new user</button>

    <button *ngIf="canEditUser" [disabled]="!userForm.valid"
            (click)="onSubmitUser(userForm);"
            type="submit" class="btn btn-primary mt-3">Edit user</button>
  </form>
</div>
  